body
  margin 0
  padding 0
  font 16px "Microsoft YaHei UI", Arial, sans-serif

a
  text-decoration none

.wrap
  width 100%
  height auto

header,section,footer
  width 100%
  height auto

.banner
  width 100%
  height auto

.content
  width 60%
  height auto
  margin 0 auto
  border 2px solid #accccc;

.item-list
  width 100%
  height auto
  margin 0
  padding 0
  font-size 0

.item
  display inline-block
  width 22%
  height auto
  background #ccc
  font-size 16px
  word-break break-all
  word-wrap break-word
  //overflow auto
  margin 5px 0 5px 4%

.item:nth-child(5n),.item:first-child
  margin-left 0

