<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi">
    <link rel='stylesheet' href='/home/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrap">
      <header>
        <img src="/home/images/banner.png" class="banner" alt="banner">
      </header>
      <section>
        <div class="content">
          选项内容
          <ul class="item-list">
            <li class="item">
              11111111111111111111111111111111111111111111111111111111111
            </li>
            <li class="item">
              11111111111111111111111111111111111111111111111111111111111
            </li>
            <li class="item">
              11111111111111111111111111111111111111111111111111111111111
            </li>
            <li class="item">
              11111111111111111111111111111111111111111111111111111111111
            </li>
            <li class="item">
              11111111111111111111111111111111111111111111111111111111111
            </li>
            <li class="item">
              11111111111111111111111111111111111111111111111111111111111
            </li>
            <li class="item">
              11111111111111111111111111111111111111111111111111111111111
            </li>
          </ul>
        </div>
      </section>
      <footer>
        footer
      </footer>
    </div>
  </body>
</html>
